.container{
    text-align:center;
    margin-top: 30px;
}

table{
    margin:auto;
}
input{
    font-size: 40px;
    border-radius: 30px;
    border:6px solid salmon;
}
button{
    border-radius: 30px;
    font-size: 45px;
    background-color: #8a2be2;
    width: 120px;
    height: 80px;
}
.colculator{
    background-color: rgba(255, 0, 76, 0.463);
    padding: 23px;
    border:2px solid blue;
    display: inline-flex;

}
